@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*---- Reset Style ----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
}

/*---- General Style ----*/
:root {
    --body-font: "Nunito Sans", sans-serif;
    --heading-font: "Libre Baskerville", serif;

    --main-heading-size: 3.5em;
    --global-font-size: 18px;
    --heading-line-height: 1.2;
    --padding-size: 6px 16px;

    --main-text-color: #292929;
    --main-heading-color: #242424;
    --secondary-heading-color: #2a2a2a;
    --white-color: #f1f1f1;
    --primary-color: #008080;
    --secondary-color: #a13636;
    --footer_bg_color: #fafafa;
}

html {
    font-size: var(--global-font-size);
}
body {
    font-family: var(--body-font);
    font-size: inherit;
    line-height: 1.5;
    color: var(--main-text-color);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1em 3em;
}
.heading {
    font-family: var(--heading-font);
    color: var( --main-heading-color);
}
h1.heading { 
    line-height: var(--heading-line-height);
    font-size: var(--main-heading-size);
}
h3.heading {
    color: var(--secondary-heading-color);
}
a {
    display: inline-block;
    color: #000;   
}
input {
    padding: var(--padding-size);
}
.btn {
    padding: var(--padding-size);
    font-size: 14px;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}


/*---- Navigation Style ----*/
.main_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex; 
    align-items: center;
    gap: .7em;
}

/* Links */
.main_navigation ul {
    display: flex;
    gap: 1em;
}
.main_navigation ul a, 
.main_navigation ul span {
 padding: 4px 15px;
}
.main_navigation ul a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 15px;
}

/*---- Footer Style ----*/
footer {
    display: flex; 
    justify-content: space-around;
    margin-top: 2em;
    background-color: var(--footer_bg_color);
}
footer .heading {
    margin-bottom: 5px;
}

/* Newsletter Section */
.newsletter {
    width: 45%;
}
.newsletter .heading {
    margin-bottom: 15px;
}
.newsletter .subscribe {
    margin-top: 5px;
} 
.newsletter input {
    width: 65%;
}

/* Quick Links Section */
.quick_links {
    flex-grow: 1;
}
.quick_links a {
    display: block;
    padding: 5px;
}
.quick_links a:hover {
    text-decoration: underline;
    padding-left: .5em;
    transition: text-decoration .3s,
    padding-left .4s;
}

/* Social Media Section */
.social_links {
    flex-grow: 1;
}
.social_icons {
    display: flex;
    gap: .5em;
    margin: 5px 0;
}
.social_icons a {
    padding: 4px 6px;
}
.social_links p {
    font-size: .85em;
    margin-left: 6px;
}